html {
    min-height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f8;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    margin: 0;
}

header {
    background-color: #204056; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-content h1 a {
    color: white;
    text-decoration: none;
}



.account-icon {
    display: flex;
    justify-content: flex-end;
}

.account-icon img {
    width: 50px;
    background-color: #f0f0f8;
    border-radius: 100%;

}

.movie-container, .showings-container, .booking-container {
    padding: 20px;
    text-align: center;
}

.movie-tile {
    width: 200px;  
    height: 460px;
    margin: 10px; 
    text-decoration: none; 
    text-align: center; 
    color: black;
    border: 1px solid #ccc; 
    padding: 10px;  
    background-color: white; 
    display: inline-block; 
    vertical-align: top; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
}

.movie-tile:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    color: black;
}

.movie-tile img {
    width: 100%;  /* Full width of the tile */
    height: 300px; /* Fixed height */
    object-fit: cover 
}
.movie-details img {
    height: 500px; /* Fixed height */
    object-fit: contain; 
}

footer {
    width: 100%;
    background-color: #204056;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0px;
}

.movie-details {
    width: 35%; /* Limit the width to 35% of the container */
    margin: auto; /* Center it horizontally */
    padding: 20px; /* Add some padding inside */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.movie-poster {
    width: 250px; 
    height: auto;
    border-radius: 5px;
}

.showing-options, .booking-form {
    width: 100%;
}

.showing {
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.book-now-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.book-now-btn:hover {
    background-color: #4cae4c;
}

.booking-form label {
    display: block;
    margin-top: 10px;
}

.booking-form label, .booking-form select, .booking-form input[type="number"] {
    font-size: 16px; 
    padding: 8px; 
}

.booking-form input[type="submit"] {
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #0275d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-form input[type="submit"]:hover {
    background-color: #025aa5;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

aside {
    text-align: center;
    margin-bottom: 20px; 
}

.content {
    flex: 1;
    max-width: 800px; 
    margin: 20px auto; 
    background-color: white; 
    padding: 20px;   
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    text-align: center; 
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.showing-options {
    width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    background-color: #f9f9f9; /* Light background for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.showing-options form {
    text-align: center;
}

.showing-options label,
.showing-options select {
    display: block;
    margin: auto;
    width: 40%;
}

.showing-options input[type="submit"] {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.showing-options input[type="submit"]:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .account-icon img {
        width: 50px; 
        height: auto; 
        margin-top: 10px; 
    }

    .showing-options, .booking-form {
        width: 100%;
    }

    .movie-tile {
        display: block; 
        margin: 10px auto; 
    }

    .movie-tile img {
        max-height: 300px; 
    }

    aside {
        float: none;
        margin: 0 auto; /* Center content */
        padding: 10px;
    }

    .content {
        padding: 10px; /* Less padding for smaller screens */
    }

    movie-details {
        width: 100%; /* Full width on smaller screens */
    }
}